@charset "UTF-8";
/**
*
* @authors Your Name (you@example.org)
* @date    2017-03-23 13:14:26
* @version $Id$
*/
*{
	margin-left: 0px;
}
.box{
    width: 410px;
    height: 828px;
    margin: 10px;
    background: #ffffff;
    border: 1px solid lightgrey;
}
.a{
    width: 410px;
    height: 40px;
	border: 1px solid lightgrey;
}
.a1{
	text-align: center;
	margin: 0px 0px 0px 0px;
	width: 80px;
	height: 40px;
	border: 1px solid lightgrey;
	float: left;
	font-size: 28px;
}
.b{
    width: 410px;
    height: 120px;
	border: 1px solid lightgrey;
}
.b1{
	/*text-align: center;
	font-size: 35px;*/
	margin: 10px 14px 10px 14px;
	width: 380px;
	height: 43px;
	border: 1px solid grey;
}
.c{
	width: 410px;
    height: 240px;
	border: 1px solid lightgrey;
}
.c1{
	width: 120px;
	height: 120px;
	background-color: #ff5511;
	margin: 20px 0px 20px 20px;
	float: left;
}
.c2{
	width: 220px;
	height: 30px;
	border: 1px solid grey;
	float: left;
	margin: 35px 25px 10px 15px;
}
.c3{
	width: 220px;
	height: 30px;
	border: 1px solid grey;
	float: left;
	margin: 20px 25px 10px 15px;
}
#c4{
	width: 110px;
	height: 40px;
	background-color: #ff5511;
	margin: 20px;
	position: absolute;
	left: 10px;
	top: 320px;
	text-align: center;
	font-size: 25px;
}
#c5{
	width: 110px;
	height: 40px;
	background-color: #ff5511;
	margin: 20px;
	position: absolute;
	left: 140px;
	top: 320px;
	text-align: center;
	font-size: 25px;
}
#c6{
	width: 110px;
	height: 40px;
	background-color: #ff5511;
	margin: 20px;
	position: absolute;
	left: 270px;
	top: 320px;
	text-align: center;
	font-size: 25px;
}
.d{
	width: 410px;
    height: 60px;
	border: 1px solid lightgrey;
}
.d1{
	width: 380px;
	height: 40px;
	border: 1px solid grey;
	margin: 9px 14px 9px 14px;
}
.e{
	width: 410px;
    height: 360px;
	border: 1px solid lightgrey;
}
#e1{
	width: 165px;
	height: 240px;
	border: 1px solid lightgrey;
	float: left;
}
#ea{
	width: 120px;
	height: 120px;
	background-color:#ff5511; 
	margin: 20px 10px 20px 20px;
}
#eb{
	text-align: center;
	font-size: 28px;
}
.e2{
	width: 79px;
	height: 119px;
	border: 1px solid lightgrey;
	float: left;
}
.ec{
	width: 50px;
	height: 50px;
	background-color:#ff5511;
	margin: 15px; 
}
.ed{
	text-align: center;
	font-size: 14px;
}
.e3{
	width: 81px;
	height: 117px;
	border: 1px solid lightgrey;
	float: left;
}
.e4{
	width: 82px;
	height: 117px;
	border: 1px solid lightgrey;
	float: left;
}
.e5{
	width: 79px;
	height: 117px;
	border: 1px solid lightgrey;
	float: left;
}